extends layout.pug

block content
    .grandParentContaniner
        .parentContainer
            form
                input(placeholder="username")
                br
                input(placeholder="password")
